.title {
    font-size: 26px;
    font-weight: 700;
}

.price {
    font-size: 24px;
}
.container {
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 50%;
    
}

.product {
    display: flex;
    box-shadow: 10px 5px 10px 5px  rgba(0, 0, 0, .5);
    margin-bottom: 1em;
}

.image{
    margin: 1em;
    height: 12em;
    width: 12em;
}

img {
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.descr{
    width: 70%;
    text-align: left;
}

.buttons{
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    flex-wrap: nowrap;
    flex-direction: row;
}

button {
    margin: 1em;
}